<!-- comment box -->
<div>
  <h1 class="text-center proza-font text-[20px] text-[#011826] font-bold my-5">
    Subscribe to <span
      class="bg-gradient-to-r from-[#6260FA] to-[#00ECD4] bg-clip-text text-transparent"
      >Cinema Drip Newsletter</span
    >
     and keep your inbox happy.
  </h1>
  <!-- comment form -->
  <div class="bg-gradient-to-br from-[#6360fa54] to-[#00ecd47c] py-5 px-10">
    <div class="flex items-center gap-2">
      <img src="/Images/comment.png" alt="comment icon" />
      <h1
        class="font-extrabold proza-font capitalize text-[24px] text-primarytext"
      >
        10 Comments
      </h1>
    </div>
    <p class="text-[16px] text-primarytext my-6 font-medium proza-font">
      Comments On Deadline Hollywood are monitored. So don't go off topic, don't
      impersonate anyone, and don't get your facts wrong.
    </p>

    <!-- inputs -->

    <p class="text-[16px] text-primarytext my-2 font-medium proza-font">
      Comment
    </p>
    <textarea
      class="border border-primarytext bg-[#AAD4DB] p-5 w-full h-40 .placeholder-gray-900"
      placeholder="Write your comment within 100 words."
    ></textarea>
    <p
      class="text-[16px] capitalize outline-0 text-primarytext my-2 font-medium proza-font"
    >
      name
    </p>
    <input
      class="border border-primarytext bg-[#AAD4DB] p-3 w-full .placeholder-gray-900"
    />
    <p
      class="text-[16px] capitalize outline-0 text-primarytext my-2 font-medium proza-font"
    >
      Email
    </p>
    <input
      class="border border-primarytext bg-[#AAD4DB] p-3 w-full .placeholder-gray-900"
    />
    <button
      class="w-full mt-5 py-3 bg-gradient-to-r from-[#6260FA] to-[#00ECD4] proza-font text-white font-bold rounded-full text-xl"
    >
      Post a comment
    </button>

    <!-- comments list -->
    <div>
      <!-- comment 1 -->
      <div>
        <div
          class="bg-gradient-to-r from-[#6260FA] to-[#00ECD4] w-full h-[3px] my-4"
        >
          <!-- gradient line -->
        </div>

        <div class="flex gap-2 items-end">
          <h1 class="font-bold proza-font text-primarytext text-[20px]">
            Anonymous
          </h1>
          <p class="text-[#01182694] text-[14px] italic">On February 06,2024</p>
        </div>
        <article class="my-6 text-[20px] text-primarytext poppins font-medium">
          Those posts aren’t wrong. It is objectively one of the worst endings
          in TV history.
        </article>
        <button
          class="bg-gradient-to-r from-[#6260FA] to-[#00ECD4] text-transparent bg-clip-text font-bold proza-font text-[16px]"
        >
          Reply
        </button>
      </div>
      <!-- comment 2 -->
      <div>
        <div
          class="bg-gradient-to-r from-[#6260FA] to-[#00ECD4] w-full h-[3px] my-4"
        >
          <!-- gradient line -->
        </div>

        <div class="flex gap-2 items-end">
          <h1 class="font-bold proza-font text-primarytext text-[20px]">
            Anonymous
          </h1>
          <p class="text-[#01182694] text-[14px] italic">On February 06,2024</p>
        </div>
        <article class="my-6 text-[20px] text-primarytext poppins font-medium">
          Those posts aren’t wrong. It is objectively one of the worst endings
          in TV history.
        </article>
        <button
          class="bg-gradient-to-r from-[#6260FA] to-[#00ECD4] text-transparent bg-clip-text font-bold proza-font text-[16px]"
        >
          Reply
        </button>
      </div>
      <!-- comment 3 -->
      <div>
        <div
          class="bg-gradient-to-r from-[#6260FA] to-[#00ECD4] w-full h-[3px] my-4"
        >
          <!-- gradient line -->
        </div>

        <div class="flex gap-2 items-end">
          <h1 class="font-bold proza-font text-primarytext text-[20px]">
            Anonymous
          </h1>
          <p class="text-[#01182694] text-[14px] italic">On February 06,2024</p>
        </div>
        <article class="my-6 text-[20px] text-primarytext poppins font-medium">
          Those posts aren’t wrong. It is objectively one of the worst endings
          in TV history.
        </article>
        <button
          class="bg-gradient-to-r from-[#6260FA] to-[#00ECD4] text-transparent bg-clip-text font-bold proza-font text-[16px]"
        >
          Reply
        </button>
      </div>
      <button
        class="bg-gradient-to-r from-[#6260FA] to-[#00ECD4] text-transparent bg-clip-text font-bold proza-font text-[20px] m-auto flex mt-10"
      >
        See all
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 bg-gradient-to-r from-[#6260FA] to-[#00ECD4] text-transparent bg-clip-text"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
