<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../output.css" rel="stylesheet" />
  </head>
  <body class="bg-yellow-100 h-screen">
    <div class="bg-white p-8 mt-10 absolute w-full bottom-0">
      <h1 class="text-[18px] text-primarytext poppins font-medium">
        Cookies & GDPR Policy
      </h1>
      <div class="flex items-start gap-5 flex-wrap">
        <p class="text-[14px] poppins font-[300] mt-1 w-[70%] max-md:w-full">
          SonderBLU uses cookies to improve your experience, deliver
          personalized content and analyze our traffic. You may modify your
          cookies settings at any time, as explained in our
          <a
            href="/#"
            class="underline w-fit font-semibold bg-gradient-to-tr from-[#6260FA] to-[#00ECD4] text-transparent bg-clip-text"
            >Privacy Policy
            
          </a>
        </p>
        <button
          class="font-semibold w-fit bg-gradient-to-tr b from-[#6260FA] to-[#00ECD4] text-transparent bg-clip-text py-3"
        >
          Manage Preferences
          <div
            class="w-full h-[1px] bg-gradient-to-tr b from-[#6260FA] to-[#00ECD4]"
          ></div>
        </button>
        <button
          class="font-semibold text-lg text-white px-8 py-3 rounded-full bg-gradient-to-tr from-[#6260FA] to-[#00ECD4]"
        >
          Accept all
        </button>
      </div>
    </div>
  </body>
</html>
