<!-- podcasts grid view -->
<div class="grid grid-cols-2 gap-10 max-ipad:grid-cols-1">
  <!-- grid : 1 -->
  <div class="flex gap-5 max-ipad:flex-wrap">
    <!-- card: big thumbnail -->
    <div
      class="bg-white p-5 border rounded-[24px] shadow-lg md:w-96 md:h-[400px]"
    >
      <div class="relative">
        <img
          src="/Images/previewPodcastImage.png"
          class="rounded-[24px] h-[200px] w-full m-auto object-cover"
        />

        <div
          class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-[#39353574] rounded-[24px]"
        >
          <div class="flex items-center gap-4 relative top-[100px] left-4">
            <button
              class="bg-[#ffffff36] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 50"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>

      <div class="px-5">
        <div class="flex items-center justify-center gap-2 mt-4">
          <img
            src="/Images/micIcon.png"
            alt="interview cinema drip"
            width="1000"
            height="1000"
            class="w-6"
          />
          <p class="text-[#011826] poppins capitalize text-xl">Podcast</p>
        </div>
        <h2
          class="poppins text-[#011826] font-semibold text-center text-[16px] mt-2"
        >
          Podcast title lorem ipsum is the best text for dummy data
        </h2>
        <p class="text-center uppercase font-[300] mt-1">BY DAVID EHRLICH</p>
      </div>
    </div>

    <!-- small view cards -->
    <div class="flex flex-col gap-5 max-sm:w-full">
      <!-- Podcast : 1 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>

      <!-- Podcast : 2 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>
      <!-- Podcast : 3 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- grid : 2 -->
  <div class="flex gap-5 max-ipad:flex-wrap">
    <!-- card: big thumbnail -->
    <div
      class="bg-white p-5 border rounded-[24px] shadow-lg md:w-96 md:h-[400px]"
    >
      <div class="relative">
        <img
          src="/Images/previewPodcastImage.png"
          class="rounded-[24px] h-[200px] w-full m-auto object-cover"
        />

        <div
          class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-[#39353574] rounded-[24px]"
        >
          <div class="flex items-center gap-4 relative top-[100px] left-4">
            <button
              class="bg-[#ffffff36] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 50"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>

      <div class="px-5">
        <div class="flex items-center justify-center gap-2 mt-4">
          <img
            src="/Images/micIcon.png"
            alt="interview cinema drip"
            width="1000"
            height="1000"
            class="w-6"
          />
          <p class="text-[#011826] poppins capitalize text-xl">Podcast</p>
        </div>
        <h2
          class="poppins text-[#011826] font-semibold text-center text-[16px] mt-2"
        >
          Podcast title lorem ipsum is the best text for dummy data
        </h2>
        <p class="text-center uppercase font-[300] mt-1">BY DAVID EHRLICH</p>
      </div>
    </div>

    <!-- small view cards -->
    <div class="flex flex-col gap-5 max-sm:w-full">
      <!-- Podcast : 1 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>

      <!-- Podcast : 2 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>
      <!-- Podcast : 3 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- grid : 3 -->
  <div class="flex gap-5 max-ipad:flex-wrap">
    <!-- card: big thumbnail -->
    <div
      class="bg-white p-5 border rounded-[24px] shadow-lg md:w-96 md:h-[400px]"
    >
      <div class="relative">
        <img
          src="/Images/previewPodcastImage.png"
          class="rounded-[24px] h-[200px] w-full m-auto object-cover"
        />

        <div
          class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-[#39353574] rounded-[24px]"
        >
          <div class="flex items-center gap-4 relative top-[100px] left-4">
            <button
              class="bg-[#ffffff36] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 50"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>

      <div class="px-5">
        <div class="flex items-center justify-center gap-2 mt-4">
          <img
            src="/Images/micIcon.png"
            alt="interview cinema drip"
            width="1000"
            height="1000"
            class="w-6"
          />
          <p class="text-[#011826] poppins capitalize text-xl">Podcast</p>
        </div>
        <h2
          class="poppins text-[#011826] font-semibold text-center text-[16px] mt-2"
        >
          Podcast title lorem ipsum is the best text for dummy data
        </h2>
        <p class="text-center uppercase font-[300] mt-1">BY DAVID EHRLICH</p>
      </div>
    </div>

    <!-- small view cards -->
    <div class="flex flex-col gap-5 max-sm:w-full">
      <!-- Podcast : 1 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>

      <!-- Podcast : 2 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>
      <!-- Podcast : 3 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- grid : 4 -->
  <div class="flex gap-5 max-ipad:flex-wrap">
    <!-- card: big thumbnail -->
    <div
      class="bg-white p-5 border rounded-[24px] shadow-lg md:w-96 md:h-[400px]"
    >
      <div class="relative">
        <img
          src="/Images/previewPodcastImage.png"
          class="rounded-[24px] h-[200px] w-full m-auto object-cover"
        />

        <div
          class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-[#39353574] rounded-[24px]"
        >
          <div class="flex items-center gap-4 relative top-[100px] left-4">
            <button
              class="bg-[#ffffff36] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 50"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>

      <div class="px-5">
        <div class="flex items-center justify-center gap-2 mt-4">
          <img
            src="/Images/micIcon.png"
            alt="interview cinema drip"
            width="1000"
            height="1000"
            class="w-6"
          />
          <p class="text-[#011826] poppins capitalize text-xl">Podcast</p>
        </div>
        <h2
          class="poppins text-[#011826] font-semibold text-center text-[16px] mt-2"
        >
          Podcast title lorem ipsum is the best text for dummy data
        </h2>
        <p class="text-center uppercase font-[300] mt-1">BY DAVID EHRLICH</p>
      </div>
    </div>

    <!-- small view cards -->
    <div class="flex flex-col gap-5 max-sm:w-full">
      <!-- Podcast : 1 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>

      <!-- Podcast : 2 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>
      <!-- Podcast : 3 -->
      <div
        class="bg-gradient-to-r from-[#00ECD4] via-[#55A8DD] to-[#6260FA] p-[2px] rounded-[22px]"
      >
        <div class="bg-white p-4 w-64 max-sm:w-full rounded-[20px]">
          <h1 class="text-primarytext text-[16px] poppins font-semibold">
            Episode 01: Introduction
          </h1>
          <!-- play button -->
          <div class="flex items-center gap-2 mt-2">
            <button
              class="bg-[#6360fa66] rounded-full radial-progress text-[#7BFF88]"
              style="--value: 10; --size: 3rem"
              role="progressbar"
            >
              <img src="/Images/playcircle.png" class="" />
            </button>
            <img src="/Images/wave.png" class="w-26" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
