<!-- hero section component -->
<div
class="grid grid-cols-7 place-content-between mt-5 max-ipad:grid-cols-1 max-md:m-2"
>
<!-- left side cards -->
<div
  class="col-span-2 max-md:col-span-1 max-ipad:order-2 max-md:flex flex-col gap-4 max-md:mt-5"
>
  <!-- card no : 1 -->
  <div
    class="bg-white border-[#C3C0C0] border-[0.5px] w-[300px] md:min-h-[300px] rounded-[25px] p-5 flex flex-col items-center shadow-xl md:rotate-25 z-0 max-md:flex-row max-md:w-full max-md:gap-2 max-md:min-h-40 max-md:items-start max-md:shadow-sm max-sm:flex-col"
  >
    <img
      src="/Images/cardthumbnail.png"
      class="rounded-[15px] w-[300px] h-40 object-fit max-sm:w-80 m-auto block max-sm:h-33"
    />
    <div>
      <h1
        class="poppins font-semibold md:text-center text-xl text-[#011826] md:m-2"
      >
        TV seris
      </h1>
      <p
        class="md:text-center text-[18px] text-[#011826] font-[300] poppins"
      >
        X-Men 97 exclusive look reveals legacy costumes, the james
      </p>
    </div>
  </div>
  <!-- just typhography -->
  <h1
    style="-webkit-text-stroke: 2px #807ee9"
    class="text-[50px] text-transparent absolute font-extrabold -rotate-90 bg-clip-text text- poppins max-md:hidden"
  >
    Just
  </h1>
  <!-- card no : 2 -->
  <div
    class="bg-white border-[#C3C0C0] border-[0.5px] w-[300px] md:min-h-[300px] rounded-[25px] p-5 flex flex-col items-center shadow-xl md:m-12 md:-rotate-25 z-0 max-md:flex-row max-md:w-full max-md:gap-2 max-md:min-h-40 max-md:items-start max-md:shadow-sm max-sm:flex-col"
  >
    <img
      src="/Images/cardthumbnail.png"
      class="rounded-[15px] w-[300px] h-40 object-fit max-sm:w-80 m-auto block max-sm:h-33"
    />
    <div>
      <h1
        class="poppins font-semibold md:text-center text-xl text-[#011826] md:m-2"
      >
        TV seris
      </h1>
      <p
        class="md:text-center text-[18px] text-[#011826] font-[300] poppins"
      >
        X-Men 97 exclusive look reveals legacy costumes, the james
      </p>
    </div>
  </div>
  <!-- dropped typhography -->
  <h1
    style="-webkit-text-stroke: 2px #807ee9"
    class="text-[50px] text-transparent absolute left-60 font-extrabold rotate-90 bg-clip-text text- poppins max-md:hidden"
  >
    Dropped
  </h1>
  <!-- card no : 3 -->
  <div
    class="bg-white border-[#C3C0C0] border-[0.5px] w-[300px] md:min-h-[300px] rounded-[25px] p-5 flex flex-col items-center shadow-xl md:rotate-25 z-0 max-md:flex-row max-md:w-full max-md:gap-2 max-md:min-h-40 max-md:items-start max-md:shadow-sm max-sm:flex-col"
  >
    <img
      src="/Images/cardthumbnail.png"
      class="rounded-[15px] w-[300px] h-40 object-fit max-sm:w-80 m-auto block max-sm:h-33"
    />
    <div>
      <h1
        class="poppins font-semibold md:text-center text-xl text-[#011826] md:m-2"
      >
        TV seris
      </h1>
      <p
        class="md:text-center text-[18px] text-[#011826] font-[300] poppins"
      >
        X-Men 97 exclusive look reveals legacy costumes, the james
      </p>
    </div>
  </div>
</div>

<!-- intro side -->
<div class="col-span-3 max-md:col-span-1">
  <img
    src="/Images/cinemaDripTypho.png"
    width="1000"
    height="1000"
    class="w-4/6 m-auto block mt-20"
  />
  <p
    class="text-center mt-5 font-[200] text-[#011826] text-[34px] max-md:text-xl max-sm:text-lg capitalize"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere dui
    vitae sem. Gravida tristique aliquam ut.
  </p>
  <!-- singup button -->
  <button
    class="shadow-lg text-lg font-semibold px-20 max-sm:px-10 max-sm:py-3 max-sm:text-sm m-auto block mt-2 poppins py-4 rounded-full bg-gradient-to-r from-[#68E7D4] via-[#55A8DD] to-[#6260FA] uppercase text-white"
  >
    sign up
  </button>
  <p class="text-xl font-medium mt-5 poppins capitalize text-center">
    It's completely free to get started
  </p>
</div>

<!-- right side cards -->
<div class="col-span-2 max-md:col-span-1 max-md:mt-5">
  <div class="col-span-2 max-md:flex flex-col gap-5">
    <!-- card no : 1 -->
    <div
      class="bg-white border-[#C3C0C0] border-[0.5px] w-[300px] md:min-h-[300px] rounded-[25px] p-5 flex flex-col items-center shadow-xl md:rotate-25 z-0 max-md:flex-row max-md:w-full max-md:gap-2 max-md:min-h-40 max-md:items-start max-md:shadow-sm max-sm:flex-col"
    >
      <img
        src="/Images/cardthumbnail.png"
        class="rounded-[15px] w-[300px] h-40 object-fit max-sm:w-80 m-auto block max-sm:h-33"
      />
      <div>
        <h1
          class="poppins font-semibold md:text-center text-xl text-[#011826] md:m-2"
        >
          TV seris
        </h1>
        <p
          class="md:text-center text-[18px] text-[#011826] font-[300] poppins"
        >
          X-Men 97 exclusive look reveals legacy costumes, the james
        </p>
      </div>
    </div>
    <!-- Don't typhography -->
    <h1
      style="-webkit-text-stroke: 2px #807ee9"
      class="text-[50px] text-transparent absolute right-0 font-extrabold rotate-90 bg-clip-text text- poppins max-md:hidden"
    >
      Don't
    </h1>
    <!-- card no : 2 -->
    <div
      class="bg-white border-[#C3C0C0] border-[0.5px] w-[300px] md:min-h-[300px] rounded-[25px] p-5 flex flex-col items-center shadow-xl md:-rotate-25 md:m-12 z-0 max-md:flex-row max-md:w-full max-md:gap-2 max-md:min-h-40 max-md:items-start max-md:shadow-sm max-sm:flex-col"
    >
      <img
        src="/Images/cardthumbnail.png"
        class="rounded-[15px] w-[300px] h-40 object-fit max-sm:w-80 m-auto block max-sm:h-33"
      />
      <div>
        <h1
          class="poppins font-semibold md:text-center text-xl text-[#011826] md:m-2"
        >
          TV seris
        </h1>
        <p
          class="md:text-center text-[18px] text-[#011826] font-[300] poppins"
        >
          X-Men 97 exclusive look reveals legacy costumes, the james
        </p>
      </div>
    </div>
    <!-- missout typhography -->
    <h1
      style="-webkit-text-stroke: 2px #807ee9"
      class="text-[50px] text-transparent absolute right-80 font-extrabold -rotate-90 bg-clip-text text- poppins max-md:hidden"
    >
      Miss out
    </h1>
    <!-- card no : 3 -->
    <div
      class="bg-white border-[#C3C0C0] border-[0.5px] w-[300px] md:min-h-[300px] rounded-[25px] p-5 flex flex-col items-center shadow-xl md:rotate-25 z-0 max-md:flex-row max-md:w-full max-md:gap-2 max-md:min-h-40 max-md:items-start max-md:shadow-sm max-sm:flex-col"
    >
      <img
        src="/Images/cardthumbnail.png"
        class="rounded-[15px] w-[300px] h-40 object-fit max-sm:w-80 m-auto block max-sm:h-33"
      />
      <div>
        <h1
          class="poppins font-semibold md:text-center text-xl text-[#011826] md:m-2"
        >
          TV seris
        </h1>
        <p
          class="md:text-center text-[18px] text-[#011826] font-[300] poppins"
        >
          X-Men 97 exclusive look reveals legacy costumes, the james
        </p>
      </div>
    </div>
  </div>
</div>
</div>
