<!--Loggedin navigation component -->
<div class="border-b bg-[#ffffff75] sticky top-1 z-10 w-full">
  <div class="flex justify-between items-center py-2 mx-20 max-md:mx-4">
    <!-- nav links -->
    <button class="max-ipad:block hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill=""
        viewBox="0 0 24 24"
        strokeWidth="{1.5}"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
        />
      </svg>
    </button>
    <div class="flex gap-5 max-ipad:hidden">
      <a href="#" class="font-semibold capitalize">Home</a>
      <a href="#" class="font-semibold capitalize">blogs</a>
      <a href="#" class="font-semibold capitalize">podcast</a>
      <a href="#" class="font-semibold capitalize">spotlight series</a>
    </div>
    <!-- logo -->
    <div class="">
      <img
        src="/Images/logo.png"
        alt="cinemadrip logo"
        width="100"
        height="100"
        class="m-auto block"
      />
    </div>
    <!-- profile and search icon buttons -->
    <div class="flex items-center gap-5">
      <!-- search icon -->
      <button>
        <img
          src="/Images/searchIcon.png"
          width="100"
          height="100"
          alt="cinema drip search icon"
          class="w-12"
        />
      </button>
      <!-- Profile icon button -->
      <div
        class="border border-[#C3C0C0] px-4 poppins py-4 rounded-full bg-white flex items-center gap-6"
      >
        <img
          src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt="profile pciture icon"
          class="w-[40px] rounded-full"
        />
        <button>
          <img src="/Images/menu.svg" alt="cinema drip menu" />
        </button>
      </div>
    </div>
  </div>
</div>
