<!-- movies section component -->
<div class="m-20 max-sm:mx-5">
  <div class="flex items-center max-md:items-start gap-2">
    <img
      src="/Images/clipboard.png"
      alt="mask group"
      width="1000"
      height="1000"
      class="w-14"
    />
    <h1
      class="text-[55px] max-sm:text-4xl text-[#011826] font-semibold poppins capitalize"
    >
      Let’s Grab Some More!
    </h1>
  </div>
  <button
    class="text-[#011826] text-lg capitalize m-auto mr-0 hover:underline flex items-center gap-2"
  >
    see all
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      strokeWidth="{1.5}"
      stroke="currentColor"
      class="w-5 h-5"
    >
      <path
        strokeLinecap="round"
        strokeLinejoin="round"
        d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
      />
    </svg>
  </button>
  <!-- movies section -->
  <div>
    <div class="flex gap-10 justify-center flex-wrap">
      <!-- left side big movie thumbnail  -->
      <div
        class="bg-white border p-5 pb-14 rounded-[24px] h-fit shadow-lg max-w-[750px]"
      >
        <img
          src="/Images/movieThumbnail.png"
          alt="cinema drip movie thumbnail"
          class="rounded-[24px]"
        />
        <h1
          class="bg-gradient-to-r from-[#00ECD4] to-[#6260FA] bg-clip-text text-transparent poppins capitalize text-center leading-tight mt-2 text-[32px] font-semibold"
        >
          Movie
        </h1>
        <div
          class="bg-gradient-to-r from-[#00ECD4] to-[#6260FA] h-1 w-24 m-auto"
        ></div>
        <h3
          class="text-[#011826] font-semibold poppins text-[32px] text-center mt-2 capitalize"
        >
          10 Must-See Movies at the 2024 Berlin International Film Festival
        </h3>
        <p class="text-[#011826] text-center mt-2 text-[16px] poppins">
          The 2024 edition of the world’s biggest film fest will see world
          premieres from the likes of Olivier Assayas, Hong Sang-soo, and Mati
          Diop.
        </p>
      </div>
      <!-- right side movies -->
      <div class="">
        <!-- card : 1 -->
        <div class="max-w-[400px] my-5">
          <img
            src="/Images/cardthumbnail.png"
            alt=""
            class="rounded-[24px] m-auto block w-[396px] h-[256px]"
          />
          <h1
            class="bg-gradient-to-r from-[#00ECD4] to-[#6260FA] bg-clip-text text-transparent poppins capitalize text-center leading-tight mt-2 text-[16px] font-semibold"
          >
            Movie
          </h1>
          <p class="text-[24px] font-medium poppins text-center">
            Cillian Murphy Explains Why He’s ‘Not a Big Fan of Rehearsals’
          </p>
          <p class="text-center uppercase font-[300] mt-1">BY DAVID EHRLICH</p>
        </div>
        <!-- card : 2 -->
        <div class="max-w-[400px] my-5">
          <img
            src="/Images/cardthumbnail.png"
            alt=""
            class="rounded-[24px] m-auto block w-[396px] h-[256px]"
          />
          <h1
            class="bg-gradient-to-r from-[#00ECD4] to-[#6260FA] bg-clip-text text-transparent poppins capitalize text-center leading-tight mt-2 text-[16px] font-semibold"
          >
            Movie
          </h1>
          <p class="text-[24px] font-medium poppins text-center">
            Cillian Murphy Explains Why He’s ‘Not a Big Fan of Rehearsals’
          </p>
          <p class="text-center uppercase font-[300] mt-1">BY DAVID EHRLICH</p>
        </div>
      </div>
    </div>
    <!-- bottom movies -->
    <div class="flex justify-center gap-10 flex-wrap mt-10">
      <!-- card : 1 -->
      <div class="max-w-[400px]">
        <img
          src="/Images/cardthumbnail.png"
          alt=""
          class="rounded-[24px] m-auto block w-[396px] h-[256px]"
        />
        <h1
          class="bg-gradient-to-r from-[#00ECD4] to-[#6260FA] bg-clip-text text-transparent poppins capitalize text-center leading-tight mt-2 text-[16px] font-semibold"
        >
          Movie
        </h1>
        <p class="text-[24px] font-medium poppins text-center">
          Cillian Murphy Explains Why He’s ‘Not a Big Fan of Rehearsals’
        </p>
        <p class="text-center uppercase font-[300] mt-1">BY DAVID EHRLICH</p>
      </div>
      <!-- card : 2 -->
      <div class="max-w-[400px]">
        <img
          src="/Images/movieThumbnail.png"
          alt=""
          class="rounded-[24px] m-auto block w-[396px] h-[256px]"
        />
        <h1
          class="bg-gradient-to-r from-[#00ECD4] to-[#6260FA] bg-clip-text text-transparent poppins capitalize text-center leading-tight mt-2 text-[16px] font-semibold"
        >
          Movie
        </h1>
        <p class="text-[24px] font-medium poppins text-center">
          Cillian Murphy Explains Why He’s ‘Not a Big Fan of Rehearsals’
        </p>
        <p class="text-center uppercase font-[300] mt-1">BY DAVID EHRLICH</p>
      </div>
      <!-- card : 3 -->
      <div class="max-w-[400px]">
        <img
          src="/Images/cardthumbnail.png"
          alt=""
          class="rounded-[24px] m-auto block w-[396px] h-[256px]"
        />
        <h1
          class="bg-gradient-to-r from-[#00ECD4] to-[#6260FA] bg-clip-text text-transparent poppins capitalize text-center leading-tight mt-2 text-[16px] font-semibold"
        >
          Movie
        </h1>
        <p class="text-[24px] font-medium poppins text-center">
          Cillian Murphy Explains Why He’s ‘Not a Big Fan of Rehearsals’
        </p>
        <p class="text-center uppercase font-[300] mt-1">BY DAVID EHRLICH</p>
      </div>
    </div>
  </div>
</div>
