<!-- podcast section component -->
<div
style="
  background-image: url(/Images/podcastBG.png);
  background-repeat: no-repeat;
  background-size: contain;
"
class="m-20 max-md:m-5"
>
<div class="flex justify-center items-center gap-2">
  <img
    src="/Images/micIcon.png"
    alt="interview cinema drip"
    width="1000"
    height="1000"
    class="w-6"
  />
  <p class="text-[#011826] poppins capitalize text-xl">Podcasts</p>
</div>
<h1
  class="poppins text-[#011826] font-[500] leading-tight text-[75px] max-md:text-[40px] text-center capitalize"
>
  Listen To the <br />
  exclusive podcasts!
</h1>
<p class="text-[20px] max-md:text-[16px] text-[#011826] text-center font-[300] capitalize">
  Cinema Drip offers you both Free and Paid Contents <br />
  From Your Favorite Creators Around.
</p>
<!-- podcast preview card -->
<div class="flex justify-center flex-wrap gap-10 mt-10">
  <!-- card: 1 -->
  <div class="bg-white p-5 border rounded-[24px] shadow-lg md:w-96 md:h-[480px]">
    <div class="relative">
      <img
        src="/Images/previewPodcastImage.png"
        class="rounded-[24px] h-[300px] w-full m-auto"
      />

      <div
        class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-[#39353574] rounded-[24px]"
      >
        <div
          class="flex items-center gap-4 relative top-[200px] left-4"
        >
          <button
            class="bg-[#ffffff36] rounded-full radial-progress text-[#7BFF88]"
            style="--value: 50"
            role="progressbar"
          >
            <img src="/Images/playcircle.png" class="" />
          </button>
          <img src="/Images/wave.png" class="w-26" />
        </div>
      </div>
    </div>

    <div class="px-5">
      <div class="flex items-center justify-center gap-2 mt-4">
        <img
          src="/Images/micIcon.png"
          alt="interview cinema drip"
          width="1000"
          height="1000"
          class="w-6"
        />
        <p class="text-[#011826] poppins capitalize text-xl">Podcast</p>
      </div>
      <h2
        class="poppins text-[#011826] font-semibold text-center text-[16px] mt-2"
      >
        Podcast title lorem ipsum is the best text for dummy data
      </h2>
      <p class="text-center uppercase font-[300] mt-1">
        BY DAVID EHRLICH
      </p>
    </div>
  </div>
  <!-- card: 2 -->
  <div class="bg-white p-5 border rounded-[24px] shadow-lg md:w-96 md:h-[480px]">
    <div class="relative">
      <img
        src="/Images/previewPodcastImage.png"
        class="rounded-[24px] h-[300px] w-full m-auto"
      />

      <div
        class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-[#39353574] rounded-[24px]"
      >
        <div
          class="flex items-center gap-4 relative top-[200px] left-4"
        >
          <button
            class="bg-[#ffffff36] rounded-full radial-progress text-[#7BFF88]"
            style="--value: 50"
            role="progressbar"
          >
            <img src="/Images/playcircle.png" class="" />
          </button>
          <img src="/Images/wave.png" class="w-26" />
        </div>
      </div>
    </div>

    <div class="px-5">
      <div class="flex items-center justify-center gap-2 mt-4">
        <img
          src="/Images/micIcon.png"
          alt="interview cinema drip"
          width="1000"
          height="1000"
          class="w-6"
        />
        <p class="text-[#011826] poppins capitalize text-xl">Podcast</p>
      </div>
      <h2
        class="poppins text-[#011826] font-semibold text-center text-[16px] mt-2"
      >
        Podcast title lorem ipsum is the best text for dummy data
      </h2>
      <p class="text-center uppercase font-[300] mt-1">
        BY DAVID EHRLICH
      </p>
    </div>
  </div>
  <!-- card: 3 -->
  <div class="bg-white p-5 border rounded-[24px] shadow-lg md:w-96 md:h-[480px]">
    <div class="relative">
      <img
        src="/Images/previewPodcastImage.png"
        class="rounded-[24px] h-[300px] w-full m-auto"
      />

      <div
        class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-[#39353574] rounded-[24px]"
      >
        <div
          class="flex items-center gap-4 relative top-[200px] left-4"
        >
          <button
            class="bg-[#ffffff36] rounded-full radial-progress text-[#7BFF88]"
            style="--value: 50"
            role="progressbar"
          >
            <img src="/Images/playcircle.png" class="" />
          </button>
          <img src="/Images/wave.png" class="w-26" />
        </div>
      </div>
    </div>

    <div class="px-5">
      <div class="flex items-center justify-center gap-2 mt-4">
        <img
          src="/Images/micIcon.png"
          alt="interview cinema drip"
          width="1000"
          height="1000"
          class="w-6"
        />
        <p class="text-[#011826] poppins capitalize text-xl">Podcast</p>
      </div>
      <h2
        class="poppins text-[#011826] font-semibold text-center text-[16px] mt-2"
      >
        Podcast title lorem ipsum is the best text for dummy data
      </h2>
      <p class="text-center uppercase font-[300] mt-1">
        BY DAVID EHRLICH
      </p>
    </div>
  </div>
</div>
<button
  class="text-[#011826] text-lg capitalize m-auto hover:underline flex items-center gap-2 mt-10"
>
  see all
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    strokeWidth="{1.5}"
    stroke="currentColor"
    class="w-5 h-5"
  >
    <path
      strokeLinecap="round"
      strokeLinejoin="round"
      d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
    />
  </svg>
</button>
</div>