<!-- spotlight section component-->
<div>
  <!-- section 1 -->
  <div
    class=" gap-5 mt-20 mx-20 max-md:mx-10 flex  max-ipad:flex-wrap"
  >
    <!-- left side div -->
    <div>
      <h1
        class="text-[75px] max-md:text-5xl font-semibold poppins leading-tight bg-gradient-to-r from-[#00ECD4] to-[#6260FA] bg-clip-text text-transparent capitalize"
      >
        Film-Maker Spotlight <br />
        series.
      </h1>
      <div class="mt-10 md:w-fit">
        <img
          src="/Images/starwars.png"
          alt="cinema drip movie star wars"
          width="1000"
          height="1000"
          class="w-64 h-96 rounded-2xl max-md:m-auto block"
        />
        <button
          class="shadow-xl text-lg px-10 poppins py-4 rounded-full bg-gradient-to-r from-[#68E7D4] via-[#55A8DD] to-[#6260FA] uppercase font-semibold text-white flex items-center gap-2 m-auto mt-5"
        >
          <img
            src="/Images/play.png"
            alt="play icon cinema drip"
            width="1000"
            height="1000"
            class="w-8"
          />
          Watch
        </button>
      </div>
    </div>
    <!-- right side div -->
    <div class="flex flex-col gap-y-10">
      <!-- card 1: interview -->
      <div class="flex items-center max-md:flex-wrap">
        <!-- text and icon -->
        <div class="w-fit">
          <div class="flex items-center gap-2">
            <img
              src="/Images/storyIcon.png"
              alt="interview cinema drip"
              width="1000"
              height="1000"
              class="w-6"
            />
            <p class="text-[#011826] poppins capitalize">Interview</p>
          </div>
          <h1
            class="text-[#011826] poppins text-[35px] leading-tight my-3"
          >
            James Wan with the reporter about Star wars.
          </h1>
          <p class="text-[#011826] text-[16px] font-[300]">
            By Stuart Berman
          </p>
        </div>
        <!-- thumbnail -->
        <div class="relative">
          <img
            src="/Images/podcastThumbnail.png"
            alt="cinema drip podcast thumbnails"
            class="rounded-2xl w-[450px] min-h-[140px] my-2"
          />
          <button
            class="absolute inset-0 flex justify-center items-center bg-transparent"
          >
            <span
              class="text-[#011826] bg-white px-8 py-3 rounded-full font-medium poppins text-[14px] uppercase flex items-center"
            >
              <img
                src="/Images/lock.png"
                width="1000"
                height="1000"
                class="w-4"
              />
              Subscribe</span
            >
          </button>
        </div>
      </div>
      <!-- card 2 : podcast -->
      <div class="flex items-center max-md:flex-wrap">
        <!-- text and icon -->
        <div class="w-fit">
          <div class="flex items-center gap-2">
            <img
              src="/Images/micIcon.png"
              alt="interview cinema drip"
              width="1000"
              height="1000"
              class="w-6"
            />
            <p class="text-[#011826] poppins capitalize">Podcast</p>
          </div>
          <h1
            class="text-[#011826] poppins text-[35px] leading-tight my-3"
          >
            James Wan with the reporter about Star wars.
          </h1>
          <p class="text-[#011826] text-[16px] font-[300]">
            By Stuart Berman
          </p>
        </div>
        <!-- thumbnail -->
        <div class="relative">
          <img
            src="/Images/podcastThumbnail.png"
            alt="cinema drip podcast thumbnails"
            class="rounded-2xl w-[450px] min-h-[140px] my-2"
          />
          <button
            class="absolute inset-0 flex justify-center items-center bg-transparent"
          >
            <span
              class="text-[#011826] bg-white px-8 py-3 rounded-full font-medium poppins text-[14px] uppercase flex items-center"
            >
              <img
                src="/Images/lock.png"
                width="1000"
                height="1000"
                class="w-4"
              />
              Subscribe</span
            >
          </button>
        </div>
      </div>
      <!-- card 3 : news -->
      <div class="flex items-center max-md:flex-wrap">
        <!-- text and icon -->
        <div class="w-fit">
          <div class="flex items-center gap-2">
            <img
              src="/Images/newsIcon.png"
              alt="interview cinema drip"
              width="1000"
              height="1000"
              class="w-6"
            />
            <p class="text-[#011826] poppins capitalize">news</p>
          </div>
          <h1
            class="text-[#011826] poppins text-[35px] leading-tight my-3"
          >
            James Wan with the reporter about Star wars.
          </h1>
          <p class="text-[#011826] text-[16px] font-[300]">
            By Stuart Berman
          </p>
        </div>
        <!-- thumbnail -->
        <div class="relative">
          <img
            src="/Images/podcastThumbnail.png"
            alt="cinema drip podcast thumbnails"
            class="rounded-2xl w-[450px] min-h-[140px] my-2"
          />
          <button
            class="absolute inset-0 flex justify-center items-center bg-transparent"
          >
            <span
              class="text-[#011826] bg-white px-8 py-3 rounded-full font-medium poppins text-[14px] uppercase flex items-center"
            >
              <img
                src="/Images/lock.png"
                width="1000"
                height="1000"
                class="w-4"
              />
              Subscribe</span
            >
          </button>
        </div>
      </div>
      <button
        class="text-[#011826] text-lg capitalize m-auto hover:underline flex items-center gap-2"
      >
        see all
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
          />
        </svg>
      </button>
    </div>
  </div>
  <!-- section 2 -->
  <div class="mt-20 mx-20 max-md:mx-10">
    <!-- header -->
    <div class="flex items-center max-md:items-start gap-2">
      <img
        src="/Images/Mask group.png"
        alt="mask group"
        width="1000"
        height="1000"
        class="w-14"
      />
      <h1
        class="text-[55px] max-sm:text-4xl text-[#011826] font-semibold poppins capitalize"
      >
        Spotlight Series Shorts
      </h1>
    </div>
    <button
      class="text-[#011826] text-lg capitalize m-auto mr-0 hover:underline flex items-center gap-2"
    >
      see all
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth="{1.5}"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
        />
      </svg>
    </button>
    <!-- thumbnails -->
    <div class="flex justify-center gap-5 mt-5 flex-wrap">
      <img src="/Images/spotlight1.png" alt="" class="rounded-2xl" />
      <img src="/Images/spotlight3.png" alt="" class="rounded-2xl" />
      <img src="/Images/spotlight2.png" alt="" class="rounded-2xl" />
    </div>
  </div>
</div>